body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #e5e7eb;
    padding: 40px;
}

.container {
    max-width: 500px;
    margin: auto;
    background: #020617;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
}

button {
    background: #2563eb;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
}

button.delete {
    background: #dc2626;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    background: #020617;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 6px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: none;
}