<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <meta charset="UTF-8">
    <title>Add</title>
</head>

<body>
    <h1>Add user</h1>
    <div class="container">
        <form action="{{url_for('add')}}" method="post">
            <label for="name">Enter name</label>
            <input id="name" name="name" type="text">
            <br>
            <label for="age">Enter your age</label>
            <input id="age" name="age" type="text">
            <br>
            <button type="submit">
                Save
            </button>
        </form>
    </div>
</body>

</html>