<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <meta charset="UTF-8">
    <title>Form</title>
</head>

<body>
    <h1>Registration</h1>
    <div class="container">
        {% for cat,msg in get_flashed_messages(True) %}
        <div class="flashed {{cat}}">{{msg}}</div>
        {% endfor %}
        <form action="/form" method="post">
            <label for="name">Enter your name</label>
            <input id="name" name="name" type="text">
            <label for="city">Enter your city</label>
            <input id="city" name="city" type="text">
            <button type="submit">Save</button>
        </form>
    </div>
</body>

</html>