<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>
    <h1>Welcome to home!</h1>
    <div class="container">
        <form action="/" method="post">
            <label for="name"> Enter your name</label>
            <input id="name" name="name" type="text">
            <label for="age">Enter your age</label>
            <input id="age" name="age" type="number">
            <button type="submit">Save</button>
        </form>
    </div>
</body>

</html>