<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>
    {% for cat,msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}">{{msg}}</div>
    {% endfor %}
    <div class="container">
        <form action="{{url_for('login')}}" method="post">
            {{ form.csrf_token() }}
            {% for field in form if field.name not in ['csrf_token','submit','remember'] %}
            {{field.label()}}
            {% if field.errors %}
            {{field(class="invalid")}}
            <span>
                {% for e in field.errors %}
                {{e}}
                {% endfor %}
            </span>
            {% else %}
            {{field()}}
            {% endif %}
            {% endfor %}
            {{form.remember.label()}} {{form.remember()}}
            {{form.submit()}}
        </form>
        <a href="{{url_for('register')}}">Registration</a>
    </div>
</body>

</html>