<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Posts</title>
</head>

<body>
    {% macro result (id,title,published) %}
    {% set string = "" %}
    {% if not published %}
    {% set string = string ~ ' (DRAFT)' %}
    {% endif %}
    <li><a href="{{ url_for('post_function', id=id) }}">{{title}}</a>{{string}}</li>
    {% endmacro %}
    <ul>
        {% for post in posts %}
        {{result(post.id,post.title,post.published)}}
        {% endfor %}
    </ul>
</body>

</html>