<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <meta charset="UTF-8">
    <title>Profile of {{session.user[0]}}</title>
</head>

<body class="profile">
    {% for cat,msg in get_flashed_messages(True) %}
    <div class="flsh {{cat}}">{{msg}}</div>
    {% endfor %}
    <div class="container">
        <ul>
            <li>{{session.user[0]}}</li>
            <li>{{session.user[1]}}</li>
            {% if session.user[1] >= 18 %}
            <li>Adult</li>
            {% else %}
            <li>Teen</li>
            {% endif %}
        </ul>
        <a href="{{url_for('login')}}">
            <button class="submit">Edit</button>
        </a>
        <a href="{{url_for('logout')}}">
            <button class="submit">Logout</button>
        </a>
    </div>
</body>

</html>