<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <meta charset="UTF-8">
    <title>Profile of {{session.person[0]}}</title>
</head>

<body>
    <ul>
        <li>Name:{{session.person[0]}}</li>
        <li>Age:{{session.person[1]}}</li>
        <li>Sex:{{session.person[2]}}</li>
        <li>
            Hobbies
            <ol>
                {% for h in session.person[3] %}
                <li>{{h}}</li>
                {% endfor %}
            </ol>
        </li>
    </ul>
    <a href="{{url_for('logout')}}">logout</a>
</body>

</html>