<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{user.name}}</title>
</head>

<body>
    {% if user %}
    <ul>
        <li>Name: {{user.name}}</li>
        {% if user.vip %}
        <li>Satus: VIP</li>
        {% else %}
        <li>Status: Regular</li>
        {% endif %}
        {% if active %}
        <li>Account: Active</li>
        {% else %}
        <li>Account: Inactive</li>
        {% endif %}
    </ul>
    {% else %}
    <p>User not found</p>
    {% endif %}
    <a href="{{ url_for('users_function') }}">Back to users</a>
</body>

</html>