<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{user.name}}</title>
</head>

<body>
    <ul>
        <li>{{user.name}}</li>
        {% if user.vip %}
        <li>vip</li>
        {% else %}
        <li>not vip</li>
        {% endif %}
        {% if user.active %}
        <li>active</li>
        {% else %}
        <li>inactive</li>
        {% endif %}
    </ul>
    {% if posts %}
    <ol>
        {% for post in posts %}
        <li>{{post}}</li>
        {% endfor %}
    </ol>
    {% else %}
    <p>No posts yet</p>
    {% endif %}
</body>

</html>