<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <meta charset="UTF-8">
    <title>Users</title>
</head>

<body class="users">
    <ul>
        {% for user in users %}
        <li>{{user.name}}</li>
        <ol>
            {% if user.vip %}
            <li>(VIP)</li>
            {% else %}
            <li>(NOT VIP)</li>
            {% endif %}
            {% if not user.active %}
            <li>(INACTIVE)</li>
            {% else %}
            <li>(ACTIVE)</li>
            {% endif %}
        </ol>
        {% endfor %}
    </ul>
</body>

</html>