<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{user.name}}</title>
</head>

<body>
    <ul>
        <li>{{user.name}}</li>
        {% if user.vip %}
        <li>(VIP)</li>
        {% else %}
        <li>(NOT VIP)</li>
        {% endif %}
        {% if user.active %}
        <li>ACTIVE</li>
        {% else %}
        <li>INACTIVE</li>
        {% endif %}
    </ul>
    {% if not article %}
    <p>No published articles</p>
    {% else %}
    <ol>
        {% for ar in article %}
        <li>{{ar}}</li>
        {% endfor %}
    </ol>
    {% endif %}
</body>

</html>